<div class="row">
    <div class="col-xs-12">
        <h1>Add user:</h1>
        <div class="row">
            <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()" novalidate>

                <!-- model driven form, form validation is in component.ts -->

                <!-- form container -->
                <div class="col-xs-12 col-sm-6 clearfix">

                    <!-- Name -->
                    <h2>Name:</h2><input class="form-control" type="text" formControlName="name" required/>
                    <p class="text-danger" *ngIf="formErrors.name">Name is required (min. 5 characters).</p>
                    <!-- end name -->

                    <!-- Address -->
                    <fieldset formGroupName="address">
                        <h2>Street</h2><input class="form-control" type="text" formControlName="street">
                        <p class="text-danger" *ngIf="formErrors.street">Street is required.</p>

                        <h2>House number</h2><input class="form-control" type="text" formControlName="number">
                        <p class="text-danger" *ngIf="formErrors.number">House number must be numeric.</p>

                        <h2>Post code</h2><input class="form-control" type="text" formControlName="post">
                        <p class="text-danger" *ngIf="formErrors.post">Post code is required.</p>

                    </fieldset>
                    <!-- end address -->

                    <!-- Password -->
                    <h2>Password:</h2><input class="form-control" type="password" formControlName="password">
                    <p class="text-danger" *ngIf="formErrors.password">Password is required (min. 5 characters).</p>
                    <h2>Re-type password:</h2><input class="form-control" type="password" formControlName="password2">
                    <!-- end password -->

                    <button class="btn btn-success margin-top-20" type="submit">Submit</button>

                </div>
                <!-- end form container -->

            </form>
        </div>
    </div>
</div>