<div class="row">
    <div class="col-xs-12">
        <h1>Add user:</h1>
        <div class="row">
            <form [formGroup]="createUserForm" (ngSubmit)="onSubmit(myForm.valid)" novalidate>

                <!-- model driven form, form validation is in component.ts -->

                <!-- form container -->
                <div class="col-xs-12 col-sm-6 clearfix">

                    <!-- Name -->
                    <h2>Name:</h2><input class="form-control" type="text" formControlName="name" required/>
                    <p class="text-danger" [hidden]="createUserForm.controls.name.valid || (createUserForm.controls.name.pristine && !submitted)">Name is required (min. 5 characters).</p>
                    <!-- end name -->

                    <!-- Address -->
                    <fieldset formGroupName="address">
                        <h2>Street</h2><input class="form-control" type="text" formControlName="street">
                        <p class="text-danger" [hidden]="createUserForm.controls.address.controls.street.valid || (createUserForm.controls.address.controls.street.pristine && !submitted)">Street is required.</p>

                        <h2>House number</h2><input class="form-control" type="text" formControlName="number">
                        <p class="text-danger" [hidden]="createUserForm.controls.address.controls.number.valid || (createUserForm.controls.address.controls.number.pristine && !submitted)">House number is required and must be numeric.</p>

                        <h2>Post code</h2><input class="form-control" type="text" formControlName="post">
                        <p class="text-danger" [hidden]="createUserForm.controls.address.controls.post.valid || (createUserForm.controls.address.controls.post.pristine && !submitted)">Post code is required.</p>

                    </fieldset>
                    <!-- end address -->

                    <!-- Password -->
                    <h2>Password:</h2><input class="form-control" type="password" formControlName="password">
                    <p class="text-danger" [hidden]="createUserForm.controls.password.valid || (createUserForm.controls.password.pristine && !submitted)">Password is required (min. 5 characters).</p>
                    <h2>Re-type password:</h2><input class="form-control" type="password" formControlName="password2">
                    <p class="text-danger" [hidden]="createUserForm.controls.password2.valid || (createUserForm.controls.password2.pristine && !submitted)">Passwords must match!.</p>
                    <!-- end password -->

                    <button class="btn btn-success margin-top-20" type="submit" (click)="onEvent($event)">Submit</button>

                </div>
                <!-- end form container -->

            </form>
        </div>
    </div>
</div>